<div class="is-two-thirds column step2 {{name}} inactive">
	<div class="field">
		<label class="label is-small">Selecciona que clase de problema es</label>
		<div class="control">
		  <label class="radio">
		    <input type="radio" name="answer">
		    Con Educación Primaria/Secundaria
		  </label>
		  <label class="radio">
		    <input type="radio" name="answer">
		    Acceso a Educación Superior
		  </label>
		</div>
	</div>
	<div class="field">
		<div class="selector with-select outter-select only-texts">
			{% for item in items %}
			<div>
				<div class="option text" data-value="{{item}}">
					<p>{{item}}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="field" id="comment">
		<div class="control">
			<label for="">¿Algo especifico que te gustaria comentar?</label>
			<textarea name="{{name}}_extracomment" class="textarea"></textarea>
		</div>
	</div>
	<div class="field">
		<a class="button is-rounded is-linkcolor is-small backstep is-hidden-mobile">
		    <span class="icon">
		      <i class="fas fa-chevron-left "></i>
		    </span>
			<span>Atras</span>
		</a>
	</div>
</div>