<div class="item" id="q1">
	<div class="container">
		<div class="columns is-centered is-multiline">
			<div class="is-two-thirds column">
				<h2 class="title is-4">Lorem impsum pregunta</h2>
				<p class="content desc is-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis tempora inventore quidem a ad. Quas dolores quia id cupiditate officia corporis asperiores, deleniti quasi fugit, unde, aperiam esse a numquam!</p>
				<br>
			</div>
			<div class="is-two-thirds column">
				<div class="field">
					<div class="selector">
						<select name="motive" hidden>
							<option value="prueba0">blabla</option>
							<option value="prueba1">blabla</option>
							<option value="prueba2">blabla</option>
						</select>
						<div>
							<div class="option motive problematica" data-value="prueba0">
								<div></div>
								<p class="has-text-centered">Problematica</p>
							</div>
						</div>
						<div>
							<div class="option motive peticion" data-value="prueba1">
								<div></div>
								<p class="has-text-centered">Petición</p>
							</div>
						</div>
						<div>
							<div class="option motive denuncia" data-value="prueba2">
								<div></div>
								<p class="has-text-centered">Denuncia</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="item" id="q2">
	<div class="container">
		<div class="columns is-centered is-multiline">
			<div class="is-two-thirds column">
				<h2 class="title is-4">Lorem impsum pregunta</h2>
				<p class="content desc is-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis tempora inventore quidem a ad.</p>
			</div>
			<div class="is-two-thirds column">
				<div class="field">
					<div class="selector">
						<select name="motive" hidden>
							<option value="ambiente"></option>
							<option value="salud"></option>
							<option value="infancia"></option>
							<option value="mayores"></option>
							<option value="deportes"></option>
							<option value="obras"></option>
							<option value="seguridad"></option>
							<option value="corrupcion"></option>
						</select>
						<div>
							<div class="option problematicas ambiente" data-value="ambiente">
								<div></div>
								<p class="has-text-centered">Ambiente</p>
							</div>
						</div>
						<div>
							<div class="option problematicas salud" data-value="salud">
								<div></div>
								<p class="has-text-centered">Salud</p>
							</div>
						</div>
						<div>
							<div class="option problematicas infancia" data-value="infancia">
								<div></div>
								<p class="has-text-centered">Infancia</p>
							</div>
						</div>
						<div>
							<div class="option problematicas mayores" data-value="mayores">
								<div></div>
								<p class="has-text-centered">Mayores</p>
							</div>
						</div>
						<div>
							<div class="option problematicas deportes" data-value="deportes">
								<div></div>
								<p class="has-text-centered">Deportes</p>
							</div>
						</div>
						<div>
							<div class="option problematicas obras" data-value="obras">
								<div></div>
								<p class="has-text-centered">Obras</p>
							</div>
						</div>
						<div>
							<div class="option problematicas movilidad" data-value="movilidad">
								<div></div>
								<p class="has-text-centered">Movilidad</p>
							</div>
						</div>
						<div>
							<div class="option problematicas seguridad" data-value="seguridad">
								<div></div>
								<p class="has-text-centered">Seguridad</p>
							</div>
						</div>
						<div>
							<div class="option problematicas corrupcion" data-value="corrupcion">
								<div></div>
								<p class="has-text-centered is-capitalized">corrupcion</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="item" id="q3">
	<div class="container">
		<div class="columns is-centered is-multiline">
			<div class="is-two-thirds column">
				<h2 class="title is-3">Lorem impsum pregunta2</h2>
				<p class="content desc">22Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis tempora inventore quidem a ad. Quas dolores quia id cupiditate officia corporis asperiores, deleniti quasi fugit, unde, aperiam esse a numquam!</p>
				<br>
			</div>
			<div class="is-two-thirds column">
				
			</div>
		</div>
	</div>
</div>