<div class="item" id="q1">
	<div class="container">
		<div class="columns is-centered is-multiline">
			<div class="is-full column step1">
				<div class="columns">
					<div class="column is-full">
						<h3 class="title is-6" style="margin-bottom: 0.4rem">¿Como te interesaría que tu petición llegara al político que piensas apoyar?</h3>
						<div class="field">
							<div class="selector with-radios">
								<input type="radio" id="tipoqueja" name="tipoform" value="queja" hidden >
							    <input type="radio" id="tipoopinion" name="tipoform" value="opinion" hidden checked>
							    <input type="radio" id="tipopropuesta" name="tipoform" value="propuesta" hidden>
								<div>
									<div class="option notnext motive opinion active" data-value="tipoopinion">
										<div></div>
									</div>
								</div>
								<div>
									<div class="option notnext motive propuesta" data-value="tipopropuesta">
										<div></div>
									</div>
								</div>
								<div>
									<div class="option notnext motive reclamo" data-value="tiporeclamo">
										<div></div>
									</div>
								</div>
							</div>
						</div>
						<h3 class="title is-6" style="margin-bottom: 0.4rem">¿Cuál tema te preocupa más?</h3>
						<div class="field">
							<div class="selector with-select with-step">
								<select name="motive" hidden>
									<option value="" disabled selected></option>
									<option value="ambiente">ambiente</option>
									<option value="salud">salud</option>
									<option value="infancia">infancia</option>
									<option value="educacion">educacion</option>
									<option value="obras">obras</option>
									<option value="seguridad">seguridad</option>
									<option value="corrupcion">corrupcion</option>
									<option value="serviciospublicos">servicios</option>
									<option value="discriminacion">discriminacion</option>
								</select>
								<div>
									<div class="option answers is-small ambiente" data-value="ambiente">
										<div></div>
										<p class="has-text-centered">Ambiente</p>
									</div>
								</div>
								<div>
									<div class="option answers is-small salud" data-value="salud">
										<div></div>
										<p class="has-text-centered">Salud</p>
									</div>
								</div>
								<div>
									<div class="option answers is-small infancia" data-value="infancia">
										<div></div>
										<p class="has-text-centered">Infancia</p>
									</div>
								</div>
								<div>
									<div class="option answers is-small educacion" data-value="educacion">
										<div></div>
										<p class="has-text-centered">Educación</p>
									</div>
								</div>
								<div>
									<div class="option answers is-small obras" data-value="obras">
										<div></div>
										<p class="has-text-centered">Obras</p>
									</div>
								</div>
								<div>
									<div class="option answers is-small movilidad" data-value="movilidad">
										<div></div>
										<p class="has-text-centered">Movilidad</p>
									</div>
								</div>
								<div>
									<div class="option answers is-small seguridad" data-value="seguridad">
										<div></div>
										<p class="has-text-centered">Seguridad</p>
									</div>
								</div>
								<div>
									<div class="option answers is-small corrupcion" data-value="corrupcion">
										<div></div>
										<p class="has-text-centered is-capitalized">corrupcion</p>
									</div>
								</div>
								<div>
									<div class="option answers is-small serviciospublicos" data-value="serviciospublicos">
										<div></div>
										<p class="has-text-centered is-capitalized">Servicios Públicos</p>
									</div>
								</div>
								<div>
									<div class="option answers is-small discriminacion" data-value="discriminacion">
										<div></div>
										<p class="has-text-centered is-capitalized">Discriminación</p>
									</div>
								</div>
							</div>
						</div>
						<select name="submotive" hidden>
							<option value="" disabled selected></option>
							{# Ambiente #}
							<option value="contaminacionAgua">jose</option>
							<option value="contaminacionAire">jose</option>
							<option value="residuosToxicos">jose</option>
							<option value="basuras">jose</option>
							<option value="minerias">jose</option>
							<option value="deforestacion">jose</option>
							<option value="plagas">jose</option>

							{# Salud #}
							<option value="citas">jose</option>
							<option value="acceso">jose</option>
							<option value="autorizaciones">jose</option>
							<option value="entrega">jose</option>

							{# Infancia #}
							<option value="forzado">jose</option>
							<option value="abandono">jose</option>
							<option value="violencia">jose</option>
							<option value="salud"><jose</option>
							<option value="educacion"><jose</option>

							{# Educacion #}
							<option value="centros"></option>
							<option value="accesoCentro">jose</option>
							<option value="profesor">jose</option>

							{# Obras #}
							<option value="viales"></option>
							<option value="espacio">jose</option>
							<option value="parques">jose</option>
							<option value="acueducto">jose</option>
							<option value="alumbrado">jose</option>

							{# Movilidad #}
							<option value="transporte"></option>
							<option value="carreteras">jose</option>
							<option value="senalizacion">jose</option>
							<option value="accidentes">jose</option>
							
							{# Seguridad #}
							<option value="grupos">jose3</option>
							<option value="intrafamiliar">jose3</option>
							<option value="amenazas">jose3</option>
							<option value="desplazamiento">jose3</option>
							<option value="robo">jose3</option>
							<option value="rinas">jose3</option>

							{# Corrupcion #}
							<option value="obras"></option>
							<option value="educacion"></option>
							<option value="salud"></option>
							<option value="otros"></option>

							{# Servicios publicos #}
							<option value="acueducto"></option>
							<option value="luz"></option>
							<option value="gas"></option>
							<option value="internet"></option>
							<option value="transportepublico"></option>

							{# Discriminacion #}
							<option value="lgbti"></option>
							<option value="racial"></option>
							<option value="social"></option>
							<option value="ideologia"></option>
							
						</select>
						
					</div>
				</div>
			</div>
			
			{# Ambiente #}
			{% include 'partials/step2.html.twig' with {'name':'ambiente', 
			'items':["Contaminación de Agua","Contaminación de Aire","Residuos Tóxicos",
			"Basuras", 'Minería','Deforestación','Plagas'],'values':['contaminacionAire','residuosToxicos','basuras','minerias','deforestacion','plagas'] }  %}

			{# Salud #}
			{% include 'partials/salud.html.twig' with {'name':'salud', 
			'items':['Citas', "No hay acceso a un centro de salud a menos de 30 Km",'Autorizaciones',"Entrega de Medicamentos"],'values':['citas','accesos','autorizaciones','entregas'] }  %}

			{# Corrupcion #}
			{% include 'partials/step2.html.twig' with {'name':'corrupcion', 
			'items':['Obras', 'Educación',"Salud", "Otros"], 'values':['obras', 'educación',"salud", "otros"] }  %}

			{# Educacion #}
			{% include 'partials/educacion.html.twig' with {'name':'educacion', 
			'items':['No hay centro educativo', 'No hay como llegar al centro educativo',"No hay quien dicte clases en el centro educativo"],'values':['centros', 'accesoCentro',"profesor"] }  %}

			{# Infancia #}
			{% include 'partials/step2.html.twig' with {'name':'infancia', 
			'items':['Trabajo Forzado', 'Abandono',"Violencia","Salud","Educación"],'values':['forzado', 'abandono',"violencia", "salud","educacion"] }  %}

			{# Servicios Publicos #}
			{% include 'partials/serviciospublicos.html.twig' with {'name':'serviciospublicos', 
			'items':['Acueducto y Alcantarillado', 'Luz',"Gas","Internet","Transporte Público"],'values':['acueducto', 'luz',"gas", "internet","transportepublico"] }  %}

			{# Seguridad #}
			{% include 'partials/step2.html.twig' with {'name':'seguridad', 
			'items':['Grupos al margen de la ley', 'Violencia Intrafamiliar',"Amenazas","Desplazamiento","Robo","Riñas"],'values':['grupos', 'intrafamiliar',"amenazas", "desplazamiento","robo","rinas"] }  %}

			{# Obras #}
			{% include 'partials/step2.html.twig' with {'name':'obras', 
			'items':['Viales', 'Espacio Público',"Parques","Acueducto y Alcantarillado","Alumbrado","Transporte Público"],'values':['viales', 'espacio',"parques", "acueducto","alumbrado"] }  %}

			{# Movilidad #}
			{% include 'partials/step2.html.twig' with {'name':'movilidad', 
			'items':['Falta de transporte público',"Falta de carreteras/infraestructura para transporte","Señalización","Accidentes en la vía"],'values':['transporte', 'carreteras',"senalizacion", "accidentes"] }  %}

			{# Discriminación #}
			{% include 'partials/step2.html.twig' with {'name':'discriminacion', 
			'items':['LGBTI',"Racial","Social","Ideológica"],'values':['lgbti', 'racial',"social", "ideologia"] }  %}
			
		</div>
	</div>
</div>

<div class="item" id="q2">
	<div class="container">
		<div class="columns is-centered is-multiline">
			<div class="column is-full">
				<div class="columns">
					<div class="is-half column">
						<h2 class="title is-5">¿Te sientes identificado con algún político en especial?</h2>
						<h3 class="subtitle is-7">De ser así, dinos quien por favor</h3>
						<div class="field">
							<input type="text" name="idenpoliticoname" class="input is-small">
						</div>
					</div>
					<div class="is-half column">
						<h5 class="title is-6">¿Apoyarias a un político que oiga tus quejas, se identifique con tu forma de pensar y escuche las soluciones que planteas?</h5>
						<div class="field">
							<div class="selector with-radios">
								<input type="radio" id="dispuestosi" name="dispuesto" value="Si" hidden>
							    <input type="radio" id="dispuestono" name="dispuesto" value="No" hidden>
								<div>
									<div class="option answers nonext is-small si" data-value="dispuestosi">
										<div></div>
										<p class="has-text-centered">Si</p>
									</div>
								</div>
								<div>
									<div class="option answers nonext is-small no" data-value="dispuestono">
										<div></div>
										<p class="has-text-centered">No</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<div class="is-full column">
				<h2 class="title is-5">¿Te importa el partido politico?</h2>
				<h3 class="subtitle is-7">Puedes escoger uno o varios. O elegir "no importa"</h3>
			</div>
			<div class="is-full column">
				<div class="field">
					<div class="selector with-checkboxes">
						<input type="checkbox" name="partido" value="cr" id="cr" hidden>
  						<input type="checkbox" name="partido" value="cd" id="cd" hidden>
  						<input type="checkbox" name="partido" value="verde" id="verde" hidden>
  						<input type="checkbox" name="partido" value="polo" id="polo" hidden>
  						<input type="checkbox" name="partido" value="conservador" id="conservador" hidden>
  						<input type="checkbox" name="partido" value="liberal" id="liberal" hidden>
  						<input type="checkbox" name="partido" value="na" id="na" hidden checked>
						<div>
							<div class="option partidos cambioradical" data-value="cr">
								<div></div>
							</div>
						</div>
						<div>
							<div class="option partidos centrodemocratico" data-value="cd">
								<div></div>
							</div>
						</div>
						<div>
							<div class="option partidos verde" data-value="verde">
								<div></div>
							</div>
						</div>
						<div>
							<div class="option partidos polo" data-value="polo">
								<div></div>
							</div>
						</div>
						<div>
							<div class="option partidos conservador" data-value="conservador">
								<div></div>
							</div>
						</div>
						<div>
							<div class="option partidos liberal" data-value="liberal">
								<div></div>
							</div>
						</div>
						<div>
							<div class="option partidos noimporta deselectall active" data-value="na">
								<div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="item" id="q3">
	<div class="container">
		<div class="columns is-centered is-multiline">
			<div class="is-full column personalinfo">
				<div class="columns">
					<div class="column is-half">
						<h3 class="title is-6">Llena con tus datos personales</h3>
						<div class="field">
							<div class="control">
								<button class="button is-link fblogin is-small">
									<span>Completar con Facebook</span>
										<span class="icon is-small">
											<i class="fab fa-facebook-f"></i>
										</span>
								</button>
							</div>
						</div>
						<div class="field is-horizontal">
							<div class="field-body">
								<div class="field">
								  <div class="control has-icons-left ">
								    <input class="input is-small" type="text" placeholder="Nombre completo" name="fullname">
								    <span class="icon is-small is-left">
								      <i class="fas fa-user"></i>
								    </span>
								  </div>
								</div>
								<div class="field">
								  <div class="control has-icons-left ">
								    <input class="input is-small" type="email" placeholder="Correo Electrónico" name="email">
								    <span class="icon is-small is-left">
								      <i class="fas fa-envelope"></i>
								    </span>
								  </div>
								</div>
							</div>
						</div>
						<div class="field is-horizontal">
							<div class="field-body">
								<div class="field">
								  <div class="control has-icons-left ">
								    <input class="input is-small" type="number" placeholder="Celular" name="phone">
								    <span class="icon is-small is-left">
								      <i class="fab fa-whatsapp"></i>
								    </span>
								  </div>
								</div>
								<div class="field">
								  <div class="control ">
								    <input class="input is-small" type="text" placeholder="Edad" name="age">
								  </div>
								</div>
							</div>
						</div>
						<div class="field us-horizontal">
							<div class="field-body">
								<div class="field">
									<label class="label is-small">Municipio</label>
									<div class="control">
										<div class="select is-small">
										  <select name="state">
										  </select>
										</div>
									</div>
								</div>
								<div class="field">
									<label class="label is-small">Ciudad</label>
									<div class="control">
										<div class="select is-small">
										  <select name="city">
										  </select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="field">
							<label for="" class="label">Genero</label>
							<div class="selector with-radios">
								<input type="radio" id="genderm" name="gender" value="M" hidden checked>
							    <input type="radio" id="genderf" name="gender" value="F" hidden>
							    <input type="radio" id="genderlgbt" name="gender" value="LGBT" hidden>
								<div>
									<div class="option notnext has-text-centered active" data-value="genderm">
										<i class="icon is-large">
											<span class="fas fa-male fa-2x"></span>
										</i>
										<p>Hombre</p>
									</div>
								</div>
								<div>
									<div class="option notnext has-text-centered" data-value="genderf">
										<i class="icon is-large">
											<span class="fas fa-female fa-2x"></span>
										</i>
										<p>Mujer</p>
									</div>
								</div>
								<div>
									<div class="option notnext has-text-centered" data-value="genderlgbt">
										<i class="icon is-large">
											<span class="fas fa-transgender fa-2x"></span>
										</i>
										<p>LGBT</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-half">
						<h3 class="title is-6">O compelta el formulario como anónimo</h3>
						<div class="field">
							<div class="selector with-radios">
								<input type="radio" id="usertypenormal" name="usertype" value="normal" checked>
							    <input type="radio" id="usertypeanonymous" name="usertype" value="anonymous">
								<div>
									<div class="option notnext usertype normal active has-text-centered" data-value="usertypenormal">
										<div></div>
										<p>Normal</p>
									</div>
								</div>
								<div>
									<div class="option notnext usertype anonymous has-text-centered" data-value="usertypeanonymous">
										<div></div>
										<p>Anónimo</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</div>
</div>