<div class="is-two-thirds column step2 {{name}} inactive">
	<div class="field">
		<div class="selector with-select outter-select only-texts">
			{% for item in items %}
			<div>
				<div class="option text" data-value="{{item}}">
					<p>{{item}}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="columns">
		<div class="is-two-thirds column">
			<div class="field">
				<div class="control">
					<label class="label is-small">¿Quién no te está dando la atención, medicamento o autorización? Hospital/EPS</label>
					<div class="select">
					  <select name="salud_extra_eps">
					    <option value="EPS" selected="">EPS</option>
					    <option value="Hospital">Hospital</option>
					  </select>
					</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="field">
				<div class="control">
					<label class="label is-small">Nombre de la EPS u Hospital</label>
					<input type="text" name="salud_extra_eps_name" class="input">
				</div>
			</div>
		</div>
	</div>
	<div class="field">
		<a class="button is-rounded is-linkcolor is-small backstep is-hidden-mobile">
		    <span class="icon">
		      <i class="fas fa-chevron-left "></i>
		    </span>
			<span>Atras</span>
		</a>
	</div>
</div>