<div class="is-full column step2 {{code}} inactive">
	<h3 class="subtitle is-6">¿Qué es lo que te preocupa de <strong>Salud</strong>?</h3>
	<div class="columns is-multiline">
		<div class="column is-half">
			<div class="field">
				<div class="selector with-select outter-select only-texts">
					{% for item in items %}
					<div>
						<div class="option notnext text" data-value="{{values[loop.index0]}}">
							<p>{{item}}</p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="column is-half">
			<div class="field">
				<div class="control">
					<label class="label is-small">¿Quién no te está dando la atención, medicamento o autorización? Hospital/EPS</label>
					<div class="select is-small">
					  <select name="salud_extra_eps">
					    <option value="EPS" selected="">EPS</option>
					    <option value="Hospital">Hospital</option>
					  </select>
					</div>
				</div>
			</div>
			<div class="field">
				<div class="control">
					<label class="label is-small">Nombre de la EPS u Hospital</label>
					<input type="text" name="salud_extra_eps_name" class="input is-small">
				</div>
			</div>
			
		</div>
		<div class="column is-full">
			{% include 'partials/extra_comment.twig' %}
		</div>
	</div>
	<div class="field">
		<a class="button is-rounded is-linkcolor is-small backstep is-hidden-mobile" data-step="{{name}}">
		    <span class="icon">
		      <i class="fas fa-chevron-left "></i>
		    </span>
			<span>Atras</span>
		</a>
	</div>
</div>