<div class="is-full column step2 {{name}} inactive">
	<h3 class="subtitle is-hidden-tablet is-6 step2subtitle">¿Qué es lo que te preocupa de <strong></strong>?</h3>
	<div class="field">
		<div class="selector with-select outter-select only-texts">
			{% for item in items %}
			<div>
				<div class="option text" data-value="{{item}}">
					<p>{{item}}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="field" id="comment">
		<div class="control">
			<label for="">¿Algo especifico que te gustaria comentar/denunciar?</label>
			<textarea name="{{name}}_extracomment" rows="2" class="textarea"></textarea>
		</div>
	</div>
	<div class="field">
		<label>Tienes una prueba? Adjuntala (img o PDF max 2mb)</label>
		<div class="control">
			<input type="file" id="prooffile" name="proof" 
		accept="image/png, image/jpeg, aplication/pdf" data-max-size="2048"/>
          <p class="help is-danger" id="fileproblem">Recuerda: No puedes adjuntar un arhcivo que no sea imagen, PDF y que pese mas de 2mb</p>
			
		</div>
	</div>
	<div class="field">
		<a class="button is-rounded is-linkcolor is-small backstep is-hidden-mobile" data-step="{{name}}">
		    <span class="icon">
		      <i class="fas fa-chevron-left "></i>
		    </span>
			<span>Atras</span>
		</a>
	</div>
</div>