@import "prebulma";

$linkcolor: #6772e5;
$maincolor: #16c6cc;
$secondarycolor: #424770;
$bodycolor: #525f7f;

$bg1: white;
$bg2: $white-ter;

$selectnormal: #c9d9e9;


p.content, p{
	color: $bodycolor;
	strong{
		color: $bodycolor;
	}
	&#fileproblem{
		display: none
	}
}


h1,h2,h3,h4,h5,h6{
	font-weight: 600 !important;
	&.title, &.subtitle{ 
		font-family: $header-family;
		color: $secondarycolor;
		span{ white-space: nowrap;}
		strong{
			font-weight: 800;
			color: $secondarycolor;
		}
	}
}
nav{
	z-index: 3;
}

.button, button, a.button{
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
	transition: all .2s ease;
	border: none !important;
	font-weight: 600;
	text-transform: uppercase;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	&:hover, &:focus{
		box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
		transform: translateY(-2px);
	}
	&.circled{

		padding-left: 0.75em;
		padding-right: 0.85em;
		&.right{
			padding-left: 0.85em;
			padding-right: 0.75em;
		}
	}

	&.is-primary{
		background: $maincolor;
		color: white;
		.icon{ color: white;}
		&:hover, &:focus{
			background: darken($maincolor,3%);
		}
	}
	&.is-primary, &.is-info, &.is-link{
		.icon{
			color: white
		}
	}

	&.is-linkcolor{
		background: $linkcolor;
		color: white;
		.icon{ color: white;}
		&:hover, &:focus{
			background: darken($linkcolor,3%);
			color: white
		}
	}
	&.is-secondary{
		background: $linkcolor;
		color: white;
		&:hover, &:focus{
			background: darken($linkcolor,3%);
		}
	}
	&.is-white{
		color: $bodycolor;
		background: $white-ter;
		&:hover, &:focus{
			background: white;
			color: $bodycolor;
		}
		&.with-primary{
			color: $maincolor !important;
		}
		&.with-secondary{
			color: $linkcolor !important;
		}
	}

}
.section{
	position: relative;
	&.bigger{
		padding-top: 5rem;
	}
	&#home{
		background: linear-gradient(135deg,$bg1, $bg1, $bg2);
		position: relative;
		min-height: 100vh;
		.hero-body{
			align-items: flex-start;
		}
	}
	.hero-foot{
		z-index: 3;
	}
}
$input-border-color: darken($grey-lighter,7%);
$input-hover-border-color: darken($grey-light,7%);
@import "posbulma";
#home{
	nav{
			@include tablet{
				.navbar-item, .navbar-link{
					color: white;
					&:hover, &:focus{
						color: darken(white,10%);
					}
				}
				.navbar-link:after{
					border-color: white;
					border-width: 2px;

				}
				.navbar-dropdown .navbar-item{ 
					color: $bodycolor;
					&:hover, &:focus{
						color: darken($bodycolor,10%);
						font-weight: 600;
					}
				}
			}
		}
}

#contact{
	@include tablet{
		.is-half.column:first-of-type{
			position: relative;
			border-right: 3.5px solid darken($white-ter,2%);
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			&:after{
				position: absolute;
				right: -2.12rem;
				content: '\f0da';
				font-style: normal;
				line-height: 0;
				top: 50%;
				font-family: "FontAwesome";
				font-size: 6rem;
				color: darken($white-ter,2%);
			}
			.arrow:after{
				position: absolute;
				right: -1.77rem;
				content: '\f0da';
				font-style: normal;
				line-height: 0;
				
				top: 50%;
				font-family: "FontAwesome";
				font-size: 6rem;
				color: $white-bis;
				z-index: 2;
			}
		}
		.is-half:not(:first-of-type)
		{
			padding-left: 4rem;
		}
	}
}

footer{
	background: $white-bis !important;
	border-top: 2px solid darken($white-ter,2%);
	a{
		color: $bodycolor;
		&:hover, &:focus{
			color: darken($bodycolor,10%);
		}
	}
	p, strong{
		color: $grey-light;
	}
}
.box{
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
input, textarea,.textarea, .input{

}
textarea.textarea{
	min-height: 100px !important;
}
.field{
	.label{
		color: $secondarycolor;
	}
}
.is-vcentered{
	align-items: center;
}
.icon{
	color: $secondarycolor
}
a{
	color: $maincolor;
	font-weight: 600;
	&:hover{
		color: darken($maincolor,10%);
	}
}
.icon{ transition: all 0.25s ease}
input[type="radio"]:checked + span.icon { 
	color: $maincolor;
}
.select:not(.is-multiple)::after{
	border-color: $maincolor;
	border-width: 2px;
}

#intro_full, #ending {
	padding-bottom: 3rem;
	@include tablet{
		padding: 0;
		height: 100%;
	}
	.column{ position: relative;}
	.slide{
		@include tablet{
			position: absolute;
			left:0;
			top: 20%;
			width: 100%;
			height: 80%;
			> * { 
				opacity: 0;
			}
			&.active{
				z-index: 3;
			}
		}
	}
}


.hero-foot, .hero-head{
	display: none;
	@include tablet{
		display: inherit;
	}
}

.questionare, #ending{
	@include tablet{
		position: absolute;
		top: 20%;
		right: 0;
		left: 0;
		height: 80%;
	}
}
#ending{
	z-index: 0;
	&.active{
		z-index: 3;
	}
	@include tablet{
		.column {opacity: 0;}
	}

}
form{
	.item{
		.step2subtitle{
			display: none
		}
		> .container{
			height: 100%
		}
		&.active{
			z-index: 3;
		}
		padding: 2rem 0;
		&:not(:last-child)
		{
			border-bottom: 1px solid $grey-lighter;
		}

		@include tablet{
			position: absolute;
			left:0;
			top: 0;
			width: 100%;
			height: 80%;
			padding: 0;
			border-bottom: none !important;
			.column{
				opacity: 0;
			}
		}
		
		.column.step2{
			display: none;
		}
		.column.step2, .column.step1{
			@include tablet{
				position: absolute;
				left:0;
				top:10%;
				right: 0;
				margin: 0 auto;
				opacity: 0;
				display: initial ;
			}
			&.active{
				z-index: 2;
			}
			&.inactive{
				z-index: -1;
			}
		}
		.column.step1{
			z-index: 2;
		}
	}
}
#intro{
	z-index: 2;
}
#controls{
	.column{ position: relative;}
	.level{
		position: absolute;
		bottom: 0;
		width: 100%;
		&.active{
			z-index: 2;
		}
	}
}
#controls .questiondirs .level-item, #progress .column{
	opacity: 0;
}
#controls .level:not(:last-child)
{
	margin-bottom: 0;
}
progress[value]::-webkit-progress-bar{
	background: $grey-lighter;
}
progress[value]::-webkit-progress-value{
	background: $secondarycolor
}

.selector{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	> div{
		flex: 0;
		align-items: flex-start;
		margin: 0.5rem;
	}
	&.only-texts{
		> div{
			flex-basis: auto;
		}
	}
	.option{
		margin: 0 auto;
		padding: 0.4rem;
		border: 3px solid darken($selectnormal,10%);
		border-radius: 5px;
		display: inline-block;
		transition: all .2s ease;
		p, span{ 
			color: darken($selectnormal,10%);
			font-weight: 600;
			transition: all .2s ease;
		}
		span{
			text-align: center
		}
		.icon{
			color: darken($selectnormal,10%);
		}
		&.text{
			p{
				text-transform: uppercase;
				font-size: 0.8rem
			}
			&:hover{
				p{
					color: darken($selectnormal,15%);
				}
			}
			&.active{
				p{
					color: $maincolor;
				}
			}
		}
		&:hover{
			cursor: pointer;
			border-color: darken($selectnormal,15%);
			.icon{
				color: darken($selectnormal,15%);
			}
			
		}
		&.active{
			border-color: $maincolor;
			background-position-y: -100px !important;
			p{
				color: $maincolor;
			}
			.icon span{
				color: $maincolor;
			}
		}
		&.disabled{
			border-color: $grey-dark !important;
			p, .icon span{
				color: $grey-dark !important;
			}
		}
	}
}
.motive{
	> div{
		background: url("./img/form_motive.png");
		background-size: 300px 200px;
		background-position: 0 0;
		width: 100px;
		height: 100px;
		transition: all 0.2s ease;
		margin: 0 auto;
	}
	&.active{
		> div{
			background-position-y: -100px !important;
		}
	}
	
	&.opinion > div{ background-position: 0 0}
	&.propuesta > div{ background-position: -100px 0px}
	&.reclamo > div{ background-position: -200px 0px}
}
.usertype{
	> div{
		background: url("./img/anonimato.png");
		background-size: 140px 140px;
		background-position: 0 0;
		width: 70px;
		height: 70px;
		transition: all 0.2s ease;
		margin: 0 auto;
	}
	&.active{
		> div{
			background-position-y: -70px !important;
		}
	}
	
	&.normal > div{ background-position: 0 0}
	&.anonymous > div{ background-position: -70px 0px}
}
.answers{
	> div{
		background: url("./img/problematicas.png");
		background-size: 1040px 160px;
		background-position: 0 0;
		width: 80px;
		height: 80px;
		transition: all 0.2s ease;
		margin: 0 auto;
	}
	&.active{
		> div{
			background-position-y: -80px !important;
		}
	}
	
	&.ambiente > div{ background-position: 0 0}
	&.salud > div{ background-position: -80px 0}
	&.infancia > div{ background-position: -160px 0}
	&.mayores > div{ background-position: -240px 0}
	&.educacion > div{ background-position: -320px 0}
	&.obras > div{ background-position: -400px 0}
	&.movilidad > div{ background-position: -480px 0}
	&.seguridad > div{ background-position: -560px 0}
	&.corrupcion > div{ background-position: -640px 0}
	
	&.si > div{ background-position: -720px 0}
	&.no > div{ background-position: -800px 0}
	&.serviciospublicos > div{ background-position: -880px 0}
	&.discriminacion > div{ background-position: -960px 0}
}
.partidos{
	> div{
		background: url("./img/partidos.png");
		background-size: 560px 160px;
		background-position: 0 0;
		width: 80px;
		height: 80px;
		transition: all 0.2s ease;
		margin: 0 auto;
	}
	&.active{
		> div{
			background-position-y: -80px !important;
		}
	}
	&.cambioradical > div{ background-position:  0 0}
	&.centrodemocratico > div{ background-position:  -80px 0}
	&.verde > div{ background-position:  -160px 0}
	&.polo > div{ background-position:  -240px 0}
	&.conservador > div{ background-position:  -320px 0}
	&.liberal > div{ background-position:  -400px 0}
	&.noimporta > div{ background-position:  -480px 0}
}
.infografia{
	width: 150px;
	height: 150px;
	background-image: -webkit-image-set(url('./img/1x/infografia.png') 1x, url('./img/2x/infografia@2x.png') 2x);
	background-size: 300px 300px;

	margin: 0 auto;
	margin-bottom: 1rem;
	&.one{ background-position: -150px 0;}
	&.two{ background-position: 0 -150px}
	&.three{ background-position: -150px -150px}
	&.four{ background-position: 0 0}
}

.modal-close{
	padding-right: 0;
}
.modal{
	display: flex !important;
	opacity: 0;
	z-index: -9;
	&.is-active{
		z-index: 9;
	}
}