{% extends "base.html" %}
{% block content %}
<section class="section hero" id="home">
	<div class="hero-head" id="progress">	
		<div class="container">
			<div class="columns is-centered">
				<div class="is-two-thirds column has-text-centered">	
					<small>Pregunta <span>1</span> de <span>10</span></small>
					<progress class="progress is-small" value="0" max="100">
					</progress>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-body">
		<div class="container" id="intro_full">
			<div class="columns is-multiline is-centered has-text-centered">
				<div class="is-two-thirds column">
					<h2 class="title is-1">Formulario De Problematicas</h2>
				</div>
				<div class="is-two-thirds column">
					<div class="slide" id="intro1">
						<br>
						<p class="content is-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt temporibus impedit magnam veniam itaque eos soluta neque ut, qui hic amet, sunt quod, labore, officiis. Expedita unde repellendus in odio.</p>


						


						
					</div>
					<div class="slide" id="intro2">
						<br>
						<div class="columns has-text-centered is-centered">
							<div class="column is-one-third">
								<div class="infografia one"></div>
								<h4 class="title is-5">Captura de información de la población</h4>
							</div>
							<div class="column is-one-third">
								<div class="infografia two"></div>
								<h4 class="title is-5">Segmentación de información</h4>
							</div>
						</div>
						<div class="columns has-text-centered is-centered">
							<div class="column is-one-third">
								<div class="infografia three"></div>
								<h4 class="title is-5">Entrega de info a politicos y entidades publicas</h4>
							</div>
							<div class="column is-one-third">
								<div class="infografia four"></div>
								<h4 class="title is-5">Publicación de resultados</h4>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<form action="" id="formulario">
		<div class="container questionare">
				{% include 'partials/questions.html.twig' %}
			
		</div>
		<div class="container" id="ending">
			<div class="columns is-multiline is-centered has-text-centered">
				<div class="column is-two-thirds">
					<h2 class="title is-1">Formulario De Problematicas</h2>
				</div>
				<div class="is-two-thirds column">
					<button class="button is-primary is-huge">enviar respuestas</button>
				</div>
			</div>
		</div>
		</form>
	</div>
	<div class="hero-foot" id="controls">
		<div class="container">
			<div class="columns is-centered">
				<div class="is-two-thirds column">
					<div class="level introdirs active">
						<div class="level-item">
							<a class="button is-rounded is-linkcolor next">
								<span>Siguiente</span>
							    <span class="icon">
							      <i class="fas fa-chevron-right "></i>
							    </span>
							</a>
						</div>
					</div>
					<div class="level questiondirs">
						<div class="level-item">
							<a class="button is-rounded circled is-linkcolor prev">
							    <span class="icon">
							      <i class="fas fa-chevron-left "></i>
							    </span>
							</a>
						</div>
						<div class="level-item">
							<p class="content"><strong>Enter</strong> para siguiente pregunta o <strong>backspace</strong> para regresar a la anterior preguntas</p>
						</div>
						<div class="level-item">
							<a class="button is-rounded circled right is-linkcolor next">
							    <span class="icon">
							      <i class="fas fa-chevron-right "></i>
							    </span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}